<div class="container-fluid">
  <%= month_calendar(events: @trainings) do |date, trainings| %>
    <%= date.day %>
      <% trainings.each do |training| %>
          <%= link_to training_path(training) do %>
            <p>筋肉</p>
          <% end %>
      <% end %>
  <% end %>
</div>