<div class="container">
  <div class="row">
    <div class="col" >
      <%= month_calendar(events: @trainings) do |date, trainings| %>
        <div>
          <%= date.day %>
          <% trainings.each do |training| %>
              <%= link_to training_path(training) do %>
                <%= training.menu.menu_name %>
              <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
