<div class="container">
  <div class="row justify-content-center">
    <h4><b>本当に退会しますか？</b></h4>
  </div>
  <div class="row justify-content-center">
    <p style="text-align:center">
      退会すると、ツイート内容や<br>
      これまでの記録が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。<br>
    </p>
  </div>
  <div class="row justify-content-center">
    <%= link_to "退会しない", user_path(@user), class: "btn btn-primary"%>
    <%= link_to "退会する", out_users_path, method: :patch, params: { is_active: :false }, class: "btn btn-danger"%>
  </div>
</div>