<h2>about</h2>
<h3>トレーニングをかんたんに記録</h3>
<p>
  日々の筋力トレーニングをシンプル・かんたんに記録することができます。<br class="pc">
  面倒な種目名や重量・回数の入力は、タップするだけで完了です。<br class="pc">
  <br>
  過去の記録をもとにアプリが自分好みに育っていき、使うごとに使いやすくなるのがLIBRARYの特徴です。<br class="pc">
  もちろん、自分だけのオリジナルのメニューも記録することもできるので、初心者から上級者まで様々なシーンでお使いいただけるアプリです。
</p>

<h3>みんなのトレーニングをチェック</h3>
<p>
  同じくらいのレベルの人が、ジムでどんなトレーニングをしているのか、かんたんにチェックすることができます。<br>
  何の種目をどんな強度でどれくらいのセット数行っていて、どんなことを感じているのか。<br class="pc">
  他の人のトレーニングを参考に、自分のトレーニングもレベルアップしていきましょう。<br class="pc">

  もちろん、あなたのトレーニングが誰かの助けにもなります。<br class="pc">
  トレーニング初心者の方も、ダイエット中の方も、上級者の方も、みんなで一緒に強くなっていきましょう。
</p>

<h3>あんしん・あんぜん</h3>
<p>
  LIBRARYでは、SNSでよくあるダイレクトメッセージの機能はありません。<br class="pc">
  また、不健全な投稿に対しての対応体制も整えており、女性やお子様にもあんしん、あんぜんにお使いいただけるコミュニティサービスです。
</p>