<div class="text-monospace">
    <div class="bg-top text-warning">
      <h1 class="bg-text font-weight-bold">記録でつながる。</h1>
    </div>
      <div class="top-text text-left">
        <p>
          いつものトレーニングをみんなと。<br>
          トレーニングはもう、ひとりじゃない。
        </p>
        <p>
          いつものトレーニングをもっとかんたんに記録したいという思いと、<br>
          他の人はどんなトレーニングをしているのかなという「ちょっとした疑問」から生まれたのがマッスルカレンダーです。<br>
          一番かんたんなトレーニング記録アプリであること、そしてトレーニング仲間と触れ合える楽しいコミュニティであることの二つを目指して開発しています。
        </p>
        <p>
          一人だと諦めてしまうことがあっても、みんながいれば大丈夫。<br>
          筋トレが得意な人も、初心者の方も、ダイエット中の方も、みんなのトレーニングを参考にしたり、参考にされたり、
          そうやってみんなで強くなっていきましょう。
        </p>
      </div>
</div>