<title>マッスルカレンダー</title>

<h2>記録でつながる。</h2>
<p>日本最大の筋トレSNS</p>

<p>
  いつものトレーニングをみんなと。<br>
  トレーニングはもう、ひとりじゃない。
</p>

<p>
  いつものトレーニングをもっとかんたんに記録したいという思いと、他の人はどんなトレーニングをしているのかなという「ちょっとした疑問」から生まれたのがLIBRARYです。
  一番かんたんなトレーニング記録アプリであること、そしてトレーニング仲間と触れ合える楽しいコミュニティであることの二つを目指して開発しています。
</p>
<p>
  一人だと諦めてしまうことがあっても、みんながいれば大丈夫。
  筋トレが得意な人も、初心者の方も、ダイエット中の方も、みんなのトレーニングを参考にしたり、参考にされたり、そうやってみんなで強くなっていきましょう。
</p>